<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

* {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
}

body {
	background-color: #F1F7ED;
	background-image: url(img/grass.jpg);
}

#wrapper {
   width: 98%;
   margin: 0 auto;
   padding: 10px;
   background-color: #ffffff;
}

.textblock {
	color: #113015;
	font-size: 20px;
}

h1 {
	color: #B2972C;
	padding: 10px;
	letter-spacing: 5px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 25px;
	color: #B2972C;
	padding: 10px;
}



/*   Header   */

.navbar {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 2px;
	background-color: #536B4E;
}

.nav-item {
	list-style-type: none;
	letter-spacing: 2px;
}

li a {
	font-size: 18px;
	text-decoration: none;
	display: block;
	padding: 25px;
	color: #B8C3A3;
}

li a:hover {
	font-weight: boldest;
	text-decoration: none;
	background-color: #113015;
	color: #B2972C;
}

button {
	background-color: #B8C3A3;
	background: transparent;
    border: none !important;
}

.btn {
	background-color: #B2972C;
}

.btn:hover {
	background-color: #113015;
}

/*   Home   */

.homeImg {
	max-width: 100%;
	padding: 15px;
}


/*   Course Search   */

#courseTable {
	background-color: #F1F7ED;
	font-size: 15px;
	margin: 15px;
	align: left;
	border: thin black solid;
}

table th {
	background-color: #113015;
	color: #B8C3A3;
	border: thin black solid;
	padding: 2px 10px 2px 10px;
}

table td {
	min-width: 125px;
	padding: 2px 10px 2px 10px;
	border-bottom: thin black dotted;
}

.addCourseButton {
	padding: 10px 10px 10px 0px;
}



/*   Footer   */

.footer {
	color: #113015;
	padding: 20px;	
}
