<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

* {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
}

body {
	background-color: #E8E8E8;
}

.navbar {
	display: flex;
	width: 100%;
	padding: 2px;
	background-color: #4F5D75;
}

.nav-item {
	list-style-type: none;
	letter-spacing: 2px;
}

ul {
	width: 100%;
}

li a {
	font-size: 20px;
	text-decoration: none;
	display: block;
	padding: 10px;
	color: #BFC0C0;
}

li a:hover {
	font-weight: boldest;
	text-decoration: none;
	background-color: #2D3142;
	color: #EF8354;
}

button {
	background-color: #4F5D75;
	background: transparent;
    border: none !important;
} <!-- this button may be useful but idk how to use it so til then i made it invisible -mt -->

.btn {
	background-color: #EF8354;
}

.btn:hover {
	background-color: #2D3142;
}

h1 {
	color: #EF8354;
	padding: 10px;
}

homeImg {
	padding: 15px;
}

.description {
	color: #2D3142;
	font-size: 20px;
}

.dropdown {
	position: relative;
  	display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

